.container {
  background-color: #0D0C0D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none; /* For most browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
